*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000035;
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.start-btn {
  background-color: rebeccapurple;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.front {
  height: 20rem;
  width: 15rem;
  object-fit: contain;
  background-color: #00008f;
}
.back {
  height: 20rem;
  width: 15rem;
  background-color: #00008f;
}